<div class="col-12 mt-3 import-contenitore">
    <div class="row text-center mb-3">
        <div class="col-12">
            <span class="import-title">IMPORTA PRODOTTI</span>
        </div>
    </div>
    <div class="row text-center file-input-container">
        <div class="col-12">
            <label class="file-label me-4" for="importProdottiFilePicker">Scegli il file</label>
            <input id="importProdottiFilePicker" type="file" accept=".xlsx, .xlsm" (change)="onFileSelected($event)" style="display: none;" />
            <span id="file-name">Nessun file selezionato</span>
        </div>
    </div>
    <div class="row text-center mt-3 px-1">
        <div class="col-12 my-2">
            <button class="import-button" mat-stroked-button color="primary" (click)="importProdotti()">Importa</button>
        </div>
    </div>
</div>