<mat-toolbar class="mat-elevation-z8" style=" background-image: linear-gradient(to right, #00C178, teal);">
  <button class="me-3" style="border: 0px; background-color: transparent;" (click)="drawer.toggle()" mat-icon-button>
    <mat-icon style="color: white;">menu</mat-icon>
  </button>
  <h1 class="text-lg-left" style="color:white; font-size: x-large;">OrderManager</h1>
</mat-toolbar>

<mat-drawer-container autosize style="position: absolute;right: 0px;left: 0px;bottom: 0px;top: 65px;">
  <mat-drawer #drawer opened="true" mode="side" position="start" style="display: flex; width: 200px;">
    <mat-nav-list style="width: 100%; vertical-align: middle;">

      <!--<mat-list-item class="bottone-sidebar" routerLink="">
        <button mat-button><i class="fa-solid fa-house fa-fw fa-xl"></i> Home</button>
      </mat-list-item>-->

      <mat-list-item class="bottone-sidebar" routerLink="prodotti">
        <button mat-button><i class="fa-solid fa-box fa-fw fa-xl"></i> Prodotti</button>
      </mat-list-item>

      <mat-list-item class="bottone-sidebar" routerLink="clienti">
        <button mat-button><i class="fa-solid fa-address-book fa-fw fa-xl"></i> Clienti</button>
      </mat-list-item>

      <mat-list-item class="bottone-sidebar" routerLink="storico-ordini">
        <button mat-button><i class="fa-solid fa-cart-shopping fa-fw fa-xl"></i> Ordini</button>
      </mat-list-item>

      <mat-list-item class="bottone-sidebar" routerLink="import">
        <button mat-button><i class="fa-solid fa-file-import fa-fw fa-xl"></i> Import</button>
      </mat-list-item>

    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>

<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
  <p style="color: white"> Attendere... </p>
</ngx-spinner>