<header>
  <div class="row">
    <div class="col-12">
      <label class="col-2" for="typeahead-basic">Cerca un prodotto:</label>
      <input class="col-6" id="typeahead-basic" type="text" class="form-control" />
    </div>
  </div>
</header>
<div class="row">
  <div>
    <table class="col-12 text-center">
      <thead>
        <th class="col-4">Codice</th>
        <th class="col-4">Descrizione</th>
        <th class="col-4">Prezzo</th>
      </thead>
      <tbody>
        <div *ngFor="let p of this.prodotti">
          <tr>
            <td>{{ p.codice }}</td>
            <td>{{ p.descrizione }}</td>
            <td>€ {{ p.prezzo }}</td>
          </tr>
        </div>
      </tbody>
    </table>
  </div>
</div>
