<div class="row">
  <form class="mt-2 mb-4 form-group row" [formGroup]="searchProdottiForm">
    <label class="col-2 col-form-label" for="typeahead-basic">Cerca un prodotto tramite la descrizione:</label>
    <div class="col-10">
      <input class="form-control" id="typeahead-basic" type="text" formControlName="prodottiSearchText"
        [(ngModel)]="prodottiSearchText" (ngModelChange)="onTextChange()" />
    </div>
  </form>
</div>

<div class="row">
  <mat-paginator [length]="totalItems" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                 (page)="onPageChange($event)">
  </mat-paginator>

  <table class="table table-striped" style="width: 100%;">
    <thead>
      <tr>
        <th>Codice</th>
        <th>Descrizione</th>
        <th>Prezzo</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let p of currentItems">
        <tr>
          <td class="col-3">{{ p.codice }}</td>
          <td class="col-6">{{ p.descrizione }}</td>
          <td class="col-3">€ {{ p.prezzo }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>