/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.fixed-button-container {
    position: fixed;
    bottom: 10px; /* distanza dal fondo dello schermo */
    right: 20px; /* distanza dal lato destro dello schermo */
    z-index: 9999; /* assicura che il bottone sia sopra tutto il resto */
}
