<header>
    <div>
        <label for="typeahead-basic">Cerca un prodotto:</label>
        <input id="typeahead-basic" type="text" class="form-control"/>
    </div>
</header>
<div class="row">
    <div>
        <table class="col-12 text-center">
            <thead>
                <th class="col-4">Codice</th>
                <th class="col-4">Descrizione</th>
                <th class="col-4">Prezzo</th>
            </thead>
            <tbody>
                <div *ngFor="let p of this.prodotti">
                    <tr>
                        <td>{{p.codice}}</td>
                        <td>{{p.descrizione}}</td>
                        <td>{{p.prezzo}}</td>
                    </tr>
                </div>
            </tbody>
        </table>
    </div>
</div>